<mat-card >

    <mat-tab-group focusChange="alert('gruplu')">
        <mat-tab>

            <ng-template mat-tab-label>
                <span (click)="grupTabAktif()">Gruplar</span>
            </ng-template>

            <div class="container" >
                <div fxLayout="row"  fxFlexFill fxLayout.lt-sm="column">
                    <mat-card  fxFlex="75" fxLayoutGap="30px">
                        <mat-form-field   fxFlex="25">
                            <mat-select matInput placeholder="Hafta" [(ngModel)]="hafta" (ngModelChange)='haftaDegisti()'>
                                <mat-option *ngFor="let hafta of haftalar" [value]="hafta">{{hafta}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field  fxFlex="25">
                            <input matInput  type="text" placeholder="Mac Tarih" [(ngModel)]='grupMacTarih' (ngModelChange)='mactarihiDegisti()'>
                        </mat-form-field>

                        <mat-form-field   fxFlex="25">
                            <mat-select placeholder="Grup"   [(ngModel)]="grup" (ngModelChange)='grupDegisti()'>
                                <mat-option *ngFor="let grup of gruplar" [value]="grup">{{grup}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field  fxFlex="25">
                            <input matInput placeholder="Grup Bölünmeleri"  type="text" [(ngModel)]='grupElememanSayilari'>
                        </mat-form-field>
                    </mat-card>

                    <mat-card fxFlex="25">
                        <mat-slide-toggle [(ngModel)]='gelismisMod' class="example-margin">Gelişmiş</mat-slide-toggle>
                        <button matTooltip="maç tarihinde aktif olan oyuncuları önceki hafta maç sonu puan sıralamasına göre seçerek ekler." mat-raised-button color="primary" (click)="macFoyeOyuncuEkle(eklenecekOyuncu,true)">
                            <span>{{grup}}'yı </span> Ekle
                        </button>
                        <button mat-raised-button color="primary" (click)="kaydet()">kaydet</button>

                    </mat-card>
                </div>

            </div>

            <div *ngIf="gelismisMod" cols="4">
                <mat-card>

                <mat-form-field class="flex-item">
                    <mat-select style="width:150px;display: inline-block" placeholder="Oyuncu Seçiniz" [(ngModel)]='eklenecekOyuncu.OyuncuAdSoyad'
                        (change)="eklenecekOyuncu_Degisti(eklenecekOyuncu)">
                        <mat-option default>Oyuncu Seçiniz</mat-option>
                        <mat-option *ngFor="let o of aktifOyuncular" value="{{o.OyuncuAdSoyad}}">{{o.OyuncuAdSoyad}}</mat-option>
                    </mat-select>
                </mat-form-field>

              
                    <mat-input-container mat-no-float class="flex-item">
                        <input matInput style="text-align:right" placeholder="Puan" type="number" (keyup.enter)="grupluMu=false;macFoyeOyuncuEkle(eklenecekOyuncu,false)"
                            [(ngModel)]='eklenecekOyuncu.BaslamaPuan'>
                    </mat-input-container>

                    <button mat-raised-button class="flex-item" color="primary" class="btn btn-success" (click)="macFoyeOyuncuEkle(eklenecekOyuncu,false)">
                        Ekle
                    </button>


                </mat-card>


            </div>

            <div id="skortablo-container" class="row">
                <table id="skortablo" rules="all" frame="border" class="table table-bordered table-hover table-condensed table-striped">
                    <caption>

                    </caption>

                    <thead>
                        <tr>
                            <th class="grup1-oyuncu">{{grup}} Grubu
                                <br>{{grupMacTarih}}-{{hafta}} </th>
                            <th class="grup1-mopuan">Maç Ö.Puan</th>
                            <th class="grup1-apuan">Alınan TPuan</th>
                            <th class="grup1-bonus" [hidden]='!gelismisMod'>Bonus Puan</th>


                            <th style="border-right:6px double black;" class="grup1-mspuan">Maç S.Puan</th>

                            <th class="skor" *ngFor='let oyuncuAdSoyad of aktifMacFoy?.EklenenOyuncuAdlari'>
                                {{oyuncuAdSoyad }}
                            </th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let row of aktifMacFoy?.Mac_Satirlari;let row_inx:index" [ngClass]="{'sari': row.VarMi!==true}">

                            <td>
                                <div>

                                    <button style="width:95%;margin:auto" type="button" [matMenuTriggerFor]="appMenu">
                                        <div style="display:flex;align-items:center;justify-content:space-between">
                                            <label> {{row.OyuncuAdSoyad}}</label>
                                            <mat-icon style="align-self: flex-end">more_vert</mat-icon>
                                        </div>

                                    </button>

                                    <mat-menu #appMenu="matMenu">
                                        <button mat-menu-item (click)="MacaGelmedi(row)">
                                            <span *ngIf='row.VarMi==false'>Maça Geldi</span>
                                            <span *ngIf='row.VarMi==true'>Maça Gelmedi</span>
                                        </button>
                                        <button (click)="MacSil(row)" mat-menu-item> Listeden Kaldır </button>
                                        <button mat-menu-item (click)="satirKonumDegistir(row,-1)"> Yukarı Hareket </button>
                                        <button mat-menu-item (click)="satirKonumDegistir(row,1)"> Aşağı Hareket </button>
                                    </mat-menu>
                                </div>

                            </td>

                            <td>
                                <mat-input-container>
                                    <input matInput type="number" [(ngModel)]='row.MO_Puan' (ngModelChange)="MacOncesiPuanGuncellendi(row)" />
                                </mat-input-container>


                            </td>

                            <td>
                                <div>{{row.AlinanTPuan}}</div>
                            </td>

                            <td [hidden]='!gelismisMod'>
                                <mat-input-container>
                                    <input matInput style="width:100%" type="number" [(ngModel)]='row.BonusPuan' (ngModelChange)='BonusDegisti(row)' />
                                </mat-input-container>
                            </td>

                            <td style="border-right:6px double black;">
                                <span type="number">{{row.MS_Puan}}</span>
                                <div class="glyphicon" [ngClass]="{'glyphicon-arrow-up text-success': row.AlinanTPuan > 0,'glyphicon-arrow-down text-danger':row.AlinanTPuan < 0,'glyphicon-option-horizontal text-muted': row.AlinanTPuan == 0}">

                                </div>
                            </td>

                            <td *ngFor="let oyuncu of aktifMacFoy?.EklenenOyuncuAdlari;let inx=index" [class.sari]="aktifMacFoy?.Mac_Satirlari[inx].VarMi!==true">
                                <div *ngIf="row['C' + (inx+1)].Skor!='X-X'">


                                    <mat-select class="no-underline" [(ngModel)]="row['C' + (inx+1)].Skor" (ngModelChange)='macFoySkorlariGuncelle(row,(inx+1))'>
                                        <mat-option value="__">__</mat-option>
                                        <mat-option value="4-0">4-0</mat-option>
                                        <mat-option value="3-1">3-1</mat-option>
                                        <mat-option value="2-2">2-2</mat-option>
                                        <mat-option value="1-3">1-3</mat-option>
                                        <mat-option value="0-4">0-4</mat-option>
                                        <mat-option value="(1-3)">*1-3</mat-option>
                                        <mat-option value="X-X">X-X</mat-option>
                                    </mat-select>
                                    <span class="label pull-right" [ngClass]="{'label-success':row['C' + (inx+1)].Puan>=0,'label-danger':row['C' + (inx+1)].Puan<0 }">{{row['C' + (inx+1)].Puan}}</span>
                                    <span class="label label-info pull-left">{{row['C' + (inx+1)].Aciklama}}</span>


                                </div>

                                <div *ngIf="row['C' + (inx+1)].Skor=='X-X'">
                                    <div class="siyah-zemin"></div>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>


                <br>


            </div>


        </mat-tab>


        <mat-tab label="Puan Durumu">
            <ng-template mat-tab-label>
                <span (click)="PuanTablosunuGuncelle(true)">Puan Durumu</span>
            </ng-template>
            <mat-card>
                <strong>Sıralama Koşulu (Eşitlik halinde 3 lü kontrol)</strong>
                <br/>
                <div>
                    Aktif hafta Maç Sonu Puanı->Aldığı Toplam Puan->Yaş
                </div>
            </mat-card>

            <mat-card  id="puanListeContainer">

                <table style="margin:auto" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center">Sıra No</th>
                            <th style="text-align: center;min-width: 160px">Oyuncu Ad Soyad</th>
                            <th style="text-align: center">Maç Öncesi Puan</th>
                            <th style="text-align: center">Alınan Puan</th>
                            <th style="text-align: center">Maç Sonu Puan</th>
                            <th style="text-align: center" *ngIf='gelismisMod'>Guncel Grup</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let o of PuanTabloItemList; let sira=index" class="{{o.Grup}}">
                            <td style="text-align: center">{{sira+1}}</td>
                            <td style="font-weight:bold">{{o.OyuncuAdSoyad}}</td>
                            <td style="text-align: center">{{o.MO_Puan}}</td>
                            <td style="text-align: center">{{o.AlinanPuan}}</td>
                            <td style="text-align: center;font-weight: bold">{{o.MS_Puan}}
                                <div class="glyphicon" [ngClass]="{'glyphicon-arrow-up text-success': o.AlinanPuan > 0,'glyphicon-arrow-down text-danger':o.AlinanPuan < 0,'glyphicon-option-horizontal text-muted': o.AlinanPuan == 0}">

                                </div>


                            </td>
                            <td *ngIf='gelismisMod'>{{o.Grup}}</td>
                            <td *ngIf='gelismisMod'>{{o.Dogum_Yili}}</td>

                        </tr>
                    </tbody>
                </table>

            </mat-card>


        </mat-tab>


        <mat-tab label="Oyuncular">
            <app-oyuncu-list></app-oyuncu-list>
        </mat-tab>

        <mat-tab label="Ayarlar">
                <div  class="container">
                        <div *ngIf="Ayarlar" style="margin:auto" fxLayout="row"  fxLayout.sm="column">
      
                            <mat-form-field>
                                <input matInput placeholder="Grup Bölünmeleri 6,6,5,5 gibi "  type="text" [(ngModel)]='Ayarlar.VarsayilanGrupBolunme'>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Maca Gelmeme Skoru 1-3 gibi "  type="text" [(ngModel)]='Ayarlar.MacaGelmemeSkoru'>
                            </mat-form-field>
        
                            <button style="height:40px" matInput mat-raised-button color="primary" (click)="AyarlariKaydet()">Kaydet</button>
                        
                        </div>
        
                    </div>
        </mat-tab>


    </mat-tab-group>


</mat-card>