<md-card>

    <md-input-container md-no-float style="width:150px;display: inline-block">
                <input mdInput class="form-control" style="text-align:center"  placeholder="Oyuncu Ad Soyad"
                                    [(ngModel)]='eklenecek_oyuncu.OyuncuAdSoyad'>
    </md-input-container>

    <md-input-container md-no-float style="width:150px;display: inline-block">
                <input mdInput class="form-control" style="text-align:center"  placeholder="Başlama Tarihi"
                                    [(ngModel)]='eklenecek_oyuncu.BaslamaTarihi'>
    </md-input-container>
    
    <md-input-container md-no-float style="width:150px;display: inline-block">
                <input mdInput class="form-control" style="text-align:center"  placeholder="Ayrılış Tarihi"
                                    [(ngModel)]='eklenecek_oyuncu.AyrilisTarihi'>
    </md-input-container>

    <md-input-container md-no-float style="width:150px;display: inline-block">
                <input mdInput class="form-control" style="text-align:center"  placeholder="Başlama Puan"
                                    [(ngModel)]='eklenecek_oyuncu.BaslamaPuan'>
    </md-input-container>

    <div>
        <button md-raised-button  color="primary" (click)="OyuncuEkle()">Ekle</button>
    </div>

</md-card>


<md-card class="row" style="text-align:center" id="puanListeContainer">

    <table class="table table-bordered" style="margin-right: 15px" [style.width]="puanTabloGenislik + '%'">
        <thead>
            <tr>
                <th style="text-align: center">Sıra No</th>
                <th style="text-align: center;min-width: 160px">Oyuncu Ad Soyad</th>
                <th style="text-align: center">Baslama Tarihi</th>
                <th style="text-align: center">Ayrılış Tarihi</th>
                <th style="text-align: center" >Başlama Puan</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let o of oyuncular | async; let sira=index" class="{{o.Grup}}">
                <td style="text-align: center">{{sira+1}}</td>
                <td style="font-weight:bold">{{o.OyuncuAdSoyad}}</td>
                <td style="text-align: center">{{o.BaslamaTarihi}}</td>
                <td style="text-align: center">{{o.AyrilisTarihi}}</td>
                <td style="text-align: center;font-weight: bold">{{o.BaslamaPuan}} </td>               
            
            </tr>
        </tbody>
    </table>

  
</md-card>
