{{eklenecek_oyuncu|json}}


<div>
    <div>
        <div>Oyuncu Ad Soyad</div>
        <div><input type="text" [(ngModel)]="eklenecek_oyuncu.OyuncuAdSoyad"/></div>
    </div>

    <div>
        <div>Başlama Tarihi</div>
        <div><input type="text" [(ngModel)]="oyuncu.BaslamaTarihi"/></div>
    </div>

    <div>
        <div>Ayrılış Tarihi</div>
        <div><input type="text" [(ngModel)]="oyuncu.AyrilisTarihi"/></div>
    </div>

    <div>
        <div>Başlama Puan</div>
        <div><input type="text"  [(ngModel)]="oyuncu.BaslamaPuan"/></div>
    </div>-->

    <div>
        <button (click)="OyuncuEkle()">Ekle</button>

    </div>

    
</div>


<div class="row" id="puanListeContainer">

        <table class="table table-bordered" style="margin-right: 15px" [style.width]="puanTabloGenislik + '%'">
            <thead>
                <tr>
                    <th style="text-align: center">Sıra No</th>
                    <th style="text-align: center;min-width: 160px">Oyuncu Ad Soyad</th>
                    <th style="text-align: center">Baslama Tarihi</th>
                    <th style="text-align: center">Ayrılış Tarihi</th>
                    <th style="text-align: center" >Başlama Puan</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let o of oyuncular; let sira=index" class="{{o.Grup}}">
                    <td style="text-align: center">{{sira+1}}</td>
                    <td style="font-weight:bold">{{o.OyuncuAdSoyad}}</td>
                    <td style="text-align: center">{{o.BaslamaTarihi}}</td>
                    <td style="text-align: center">{{o.AyrilisTarihi}}</td>
                    <td style="text-align: center;font-weight: bold">{{o.BaslamaPuan}} </td>               
                
                </tr>
            </tbody>
        </table>

    </div>
